[flake8]
# Максимална дължина на редовете - стандартно препоръчвана стойност
max-line-length = 120

# Игнориране на някои специфични грешки (например прекалено дълги редове)
ignore = E501, W293, F403

# Изключване на директории, които не са Python код или съдържат не релевантни файлове
exclude = .git, __pycache__, migrations, venv, *.sql

# Проверка само на Python файлове (.py), без да се отчита код в SQL файлове
# Може да се добавят други разширения за игнориране на специфични файлови типове
select = E,W,F

# Поставяне на разделителни символи за проверка на код
# Позволява избор на специфични категории за грешки/предупреждения
# Е.g. E = Errors, W = Warnings, F = Flake8 специфични проверки
